<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello

<form th:action="@{/new-balance}" method="post">
    <div><label> requisites <input type="text" required name="requisites"/> </label></div>
    <div><input type="submit" value="register"/></div>
</form>
<form th:action="@{/balance-fill}" method="get">
    <input type="submit" value="fill balance"/>
</form>
</body>
</html>