<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Комментарии</h1>
    <div th:each="el : ${comments}" class="alert alert-info mt-2">
        <h3 th:text="${el.text}"/>
        <a th:href="'/comment/' + ${el.id}" class="btn btn-warning">Детальнее</a>
    </div>
    <div class="container mt-5 mb-5">
        <h3>Добавление комментариев</h3>
        <form th:action="@{/comment/add-save}" method="post">
            <textarea type="text" name="Текст" placeholder="Введите описания комментария" class="form-control"></textarea><br>
            <button type="submit" class="btn btn-success">Добавить комментарий</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>