<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">You are in Moder page [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <a th:href="@{/delete-users}"><input type="button" value="Delete users"/></a>
    <a th:href="@{/active-users}"><input type="button" value="Active users"/></a>
    <a th:href="@{/ban-users}"><input type="button" value="ban users"/></a>
    <a th:href="@{/change-to-user}"><input type="button" value="Change-to-user"/></a>
    <a th:href="@{/change-to-recipient}"><input type="button" value="Change-to-recipient"/></a>
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>