<div th:fragment="footer">

    <div class="p-4">
        <h4 class="fst-italic"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Resource</font></font></h4>
        <ol class="list-unstyled mb-0">
            <li><a href="https://ru.wikipedia.org/wiki/Java"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Java</font></font></a></li>
            <li><a href="https://javarush.com/groups/posts/principy-oop"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OOP</font></font></a></li>
            <li><a href="https://javarush.com/groups/posts/1937-klass-collections"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Collections</font></font></a></li>
            <li><a href="https://ru.wikipedia.org/wiki/PostgreSQL"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PostgreSQL</font></font></a></li>
            <li><a href="https://javarush.com/groups/posts/2523-chastjh-4osnovih-maven"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maven</font></font></a></li>
            <li><a href="https://wiki5.ru/wiki/Thymeleaf"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thymeleaf</font></font></a></li>
            <li><a href="https://javarush.com/groups/posts/3380-kofe-breyk-75-preimujshestva-i-nedostatki-ispoljhzovanija-spring-boot-funkcii-dlja-strok-v-java"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Spring Boot</font></font></a></li>
            <li><a href="https://ru.wikibooks.org/wiki/Spring_Security/Технический_обзор_Spring_Security"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Spring Security</font></font></a></li>
            <li><a href="https://ru.wikipedia.org/wiki/Bootstrap_(фреймворк)"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bootstrap</font></font></a></li>
        </ol>
    </div>

    <div class="p-4">
        <h4 class="fst-italic"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Сommunity</font></font></h4>
        <ol class="list-unstyled">
            <li><a href="https://www.meria.kg/ru/post/20099"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Meria.kg</font></font></a></li>
            <li><a href="https://deti.kg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deti.kg</font></font></a></li>
            <li><a href="https://twitter.com"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Twitter</font></font></a></li>
        </ol>
    </div>
        <p>
            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">New era</font>
                <font style="vertical-align: inherit;">, созданный </font>
                <a href="http://localhost:1111"><font style="vertical-align: inherit;">CHERIMOYA</font></a>
            </font>
            <a href="https://github.com/bekatatenov/cherimoya/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CHERIMOYA</font></font></a></p>

    <p>
            <a href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вернуться к вершине</font></font></a>
        </p>

</div>