<div th:fragment="headerMain">
    <header class="p-3 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/home-main" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="http://www.w3.org/2000/svg"></use></svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/home-main" class="nav-link px-2 link-white">Home</a></li>
                        <li><a href="https://bishkek.adresa-telefony.ru/blagotvoritelnye_fondy"
                               class="nav-link px-2 link-white">Organization</a></li>
                        <li><a href="/post" class="nav-link px-2 link-white">Posts</a></li>
                        <li><a href="https://knews.kg/" class="nav-link px-2 link-white">News</a></li>
                        <li><a href="/technical/support" class="nav-link px-2 text-white">Support</a></li>
                    </ul>

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/Nurlnbkvv.png" alt="profile" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" style="">
                            <li><a class="dropdown-item" href="/post/add">New post</a></li>
                            <li><a class="dropdown-item" href="/settings">Settings</a></li>
                            <li><a class="dropdown-item" href="/userPage">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </header>
</div>